DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000
DATABASE_URL=postgresql://user:password@localhost:5432/bandhan
DATABASE_SSL_REQUIRED=True
TIME_ZONE=Asia/Dhaka
BANDHAN_CONTACT_PHONE=+880 1700-000000
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_FULL_NAME=
BKASH_APP_KEY=
BKASH_APP_SECRET=
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=
